<mat-toolbar style="background: url('../../../../assets/header-background.PNG'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <!-- hier ist das logo-->
    <img src="assets/espas-logo-cropped.svg" alt="logo" style="width: 150px; height: 150px;">

    <!-- hier ist die spacer-->
    <span class="spacer"></span>

    <!-- hier ist die navbar with routes-->
    <nav>
        <button style="background-color: transparent; color:aliceblue;" mat-flat-button routerLink="/dashboard">Dashboard</button>
        <button style="background-color: transparent; color:aliceblue;" mat-flat-button routerLink="/logs">Benutzer Logs</button>
    </nav>
    <!-- hier ist die spacer-->
    <span class="spacer"></span>
    <!-- hier ist die user profile-->
    <div class="user-profile">
        <span style="padding-right: 40px;">Willkommen, {{ user }}</span>
        <button color="warn" mat-flat-button routerLink="/login" (click)="logout()">Logout</button>
    </div>
</mat-toolbar>