<h1 class="text">neue Signatur</h1>
<mat-card class="form">
    <mat-card-content>
        <form (submit)="onFormSubmit($event)" [formGroup]="genereteForm">
            <div style="display: flex; flex-direction: column;">
                <mat-form-field appearance="fill">
                    <mat-label>Gruppen</mat-label>
                    <mat-select formControlName="gruppe" multiple>
                        <mat-option *ngFor="let gruppe of gruppen" [value]="gruppe.value">{{ gruppe.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Link für Bild</mat-label>
                    <input matInput formControlName="url" name="url">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Signaturename</mat-label>
                    <input matInput formControlName="name" name="name">
                </mat-form-field>
            </div>
            <div>
                <mat-label>Bild: </mat-label>
                <input (change)="onFileChange($event)" accept="image/*" type="file" class="file-input" #fileUpload>
            </div>
            <div *ngIf="previewUrl" style="width:270px; height: 200px; display: flex; justify-content: center; align-items: center; padding: 20px; border:  2px black solid;" class="file-upload">
                <img *ngIf="previewUrl" [src]="previewUrl" alt="Vorschau des ausgewählten Bildes" style="max-width: 100%; max-height: 200px;">
            </div>
            <button style="margin-top:30px; display: flex;justify-content: center; align-items: center;" color="accent" mat-flat-button type="submit" [disabled]="!genereteForm.valid || isSubmitted">Generieren</button>
        </form>
        
        
    </mat-card-content>
</mat-card>
